<% content_for :css do %>
  <%= stylesheet_link_tag 'admin' %>
<% end %>

<div class="container">
  <div class="d-flex align-items-center mt-4 mb-4">
    <div class="ml-auto boards__linkBox">
      <%= link_to '一覧', admin_index_path, class: 'btn btn-outline-dark' %>
      <%= link_to '編集', edit_admin_path, class: 'btn btn-outline-dark' %>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h4><%= @product.name %></h4>
    </div>
    <div class="card-body">
      <p class="card-img">
        <% if @product.image? %>
          <%= image_tag @product.image.url %>
        <% else %>
          <%= image_tag "noimage.png" %>
        <% end %>
      </p>
      <p class="font-weight-bold mr-10">
        <%= @product.price %>円
      </p>
    </div>
  </div></div><!-- container -->
